{{>header}}
{{>navbar}}

<div class="container-fluid my-3">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-11 m-auto">
            <h5 class="bg-primary text-light text-center p-2">Recover Your Account</h5>
            <form action="/admin/forget-password-2" method="post">
                <div class="mb-3">
                    <input type="text" name="otp" placeholder="Enter OTP Which is Sent on Your Registered Email Address"
                        class="form-control {{#if show}} border-danger{{/if}}">
                    {{#if show}}
                    <p class="text-danger">{{message}}</p>
                    {{/if}}
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100">Submit OTP</button>
                </div>
            </form>
        </div>
    </div>
</div>

{{>footer}}