{{>header}}
{{>navbar}}

<div class="container-fluid my-3">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-11 m-auto">
            <h5 class="bg-primary text-light text-center p-2">Login To Your Account</h5>
            <form action="/admin/login" method="post">
                <div class="mb-3">
                    <input type="text" name="username" placeholder="Username or Email Address"
                        class="form-control {{#if show}} border-danger{{/if}}">
                    {{#if show}}
                    <p class="text-danger">Invalid Username or Password</p>
                    {{/if}}
                </div>

                <div class="mb-3">
                    <input type="password" name="password" placeholder="Password"
                        class="form-control {{#if show}} border-danger{{/if}}">
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </div>
                <a href="/admin/forget-password-1">Forget Password</a>
            </form>
        </div>
    </div>
</div>

{{>footer}}