<!-- START PAGEBREDCUMS -->
<div class="page-banner page-banner-overlay" data-background="/assets/img/bg/banner-bg.jpg">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-12 my-auto">
                <div class="page-banner-content text-center">
                    <h2 class="page-banner-title">{{title}}</h2>
                    <div class="page-banner-breadcrumb">
                        <p><a href="/">Home</a> {{title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGEBREDCUMS -->