<!-- START CALL TO ACTION SECTION -->
<section id="calltoaction" class="about-promo bg-theme">
    <div class="auto-container">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-4">
                        <div class="about-promo-box-img">
                            <img class="img-fluid" src="assets/img/bg/bg3.jpg" style="height:275px;width:275px" alt="">
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-12 text-center">
                        <div class="about-promo-box-des">
                            <h4>Become A Part Of Our Family!</h4>
                            <p>Secure your child’s future with quality education at Genius Public School. Enroll now to
                                give them the best start in a nurturing environment.</p>
                            <a href="/enquiry" class="call-to-action-btn wow fadeInUp">Enroll Now </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- START CALL TO ACTION SECTION -->