   <!-- START FAQ PAGE SECTION -->
      <section id="faq" class="section-padding">
         <div class="auto-container">
            <div class="row text-center mb-5">
               <div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-4">
                  <div class="single-faq-box">
                     <i class="fa fa-list"></i>
                     <h4>Features</h4>
                     <a class="btn btn-primary rounded-pill" href="/feature">Click Here...</a>
                  </div>
               </div>
               <!-- end col -->
               <div class="col-lg-4 col-md-4 col-12 mb-lg-0 mb-md-0 mb-4">
                  <div class="single-faq-box">
                     <i class="fa fa-phone"></i>
                     <h4>Contact US</h4>
                     <a class="btn btn-primary rounded-pill" href="/contactus">Click Here...</a>
                  </div>
               </div>
               <!-- end col -->
               <div class="col-lg-4 col-md-4 col-12">
                  <div class="single-faq-box">
                     <i class="fa fa-star"></i>
                     <h4>Testimonial</h4>
                     <a class="btn btn-primary rounded-pill" href="/testimonial">Click Here...</a>
                  </div>
               </div>
               <!-- end col -->
            </div>
            <!-- end row -->
            <div class="row mb-5">
               <div class="col-lg-10 col-md-10 col-12 mx-auto">
                  <div class="faq-lis-heading text-center">
                     <h2>Still have some questions?</h2>
                     <P>Check our FAQ:</P>
                  </div>
                  <div class="faq-list">
                     <div class="panel-group faq-home-accor" id="accordion">
                        {{#each faq}}
                        <div class="panel panel-default mb-3">
                           <div class="panel-heading">
                              <h5 class="panel-title">
                                 <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#faq{{_id}}">{{question}} <i class=" text-dark icofont icofont-minus"></i></a>
                              </h5>
                           </div>
                           <div id="faq{{_id}}" class="panel-collapse collapse {{#if @first}}show{{/if}}">
                              <div class="panel-body text-dark">
                                 <p>{{answer}}</p>
                              </div>
                           </div>
                        </div>
                        {{/each}}
                     </div>
                  </div>
               </div>
            </div>
            <!-- end row -->
            <div class="row">
               <div class="col-lg-10 col-md-10 col-12 mx-auto">
                  <div class="faq-lis-heading text-center">
                     <h2>Do Not Find Your Questions?</h2>
                     <a href="/contactus" class="btn btn-primary rounded-pill">Contact Us</a>
                  </div>
               </div>
            </div>
            <!-- end row -->
         </div>
      </section>
      <!-- END FAQ PAGE SECTION -->