<!-- START NEWSLETTER SECTION -->
<section id="hnewsletter" class="hnewslettr-padding bg-theme">
    <div class="auto-container">
        <div class="row">
            <div class="col-lg-7 col-12 mb-lg-0 mb-4">
                <div class="hnewslettr-left">
                    <h2>Subscribe to our Newsletter</h2>
                    <p>Enter your email and we'll send you details about upcoming events.</p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-5 mt-3">
                <div class="hnewslettr-form">
                    <form action="/newsletter" method="post">
                        <div class="form-group">
                            <span class="form-icon"><i class="icofont-envelope"></i></span>
                            <input name="email" class="form-control" placeholder="Your Email Address" type="email">
                            <button type="submit" class="btn news-btn">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end col -->
        </div>
    </div>
</section>
<!-- START NEWSLETTER SECTION -->