<div class="list-group">
  <a href="/admin" class="list-group-item list-group-item-action active mb-1" aria-current="true"><i
      class="fa fa-home"></i><span class="float-end">Home</span></a>
  <a href="/admin/enquiry" class="list-group-item list-group-item-action active mb-1" aria-current="true"><i
      class="fa fa-question-circle"></i><span class="float-end">Enquiry</span></a>
  <a href="/admin/contactus" class="list-group-item list-group-item-action active mb-1" aria-current="true"><i
      class="fa fa-phone"></i><span class="float-end">Contact Us</span></a>
  <a href="/admin/event" class="list-group-item list-group-item-action active mb-1" aria-current="true"><i
      class="fa fa-calendar"></i><span class="float-end">Events</span></a>
  <a href="/admin/feature" class="list-group-item list-group-item-action active mb-1" aria-current="true"><i
      class="fa fa-thumbs-up"></i><span class="float-end">Features</span></a>
  <a href="/admin/department" class="list-group-item list-group-item-action active mb-1" aria-current="true"><i
      class="fa fa-building"></i><span class="float-end">Department</span></a>
  <a href="/admin/team" class="list-group-item list-group-item-action active mb-1" aria-current="true"><i
      class="fa fa-users"></i><span class="float-end">Team</span></a>
  <a href="/admin/testimonial" class="list-group-item list-group-item-action active mb-1" aria-current="true"><i
      class="fa fa-star"></i><span class="float-end">Testimonial</span></a>
  <a href="/admin/gallery" class="list-group-item list-group-item-action active mb-1" aria-current="true"><i
      class="fa fa-image"></i><span class="float-end">Gallery</span></a>
  <a href="/admin/faq" class="list-group-item list-group-item-action active mb-1" aria-current="true"><i
      class="fa fa-question"></i><span class="float-end">Faq</span></a>
  {{#if (isSuperAdminHelper session)}}
  <a href="/admin/user" class="list-group-item list-group-item-action active mb-1" aria-current="true"><i
      class="fa fa-user"></i><span class="float-end">User</span></a>
  {{/if}}
  <a href="/admin/newsletter" class="list-group-item list-group-item-action active mb-1" aria-current="true"><i
      class="fa fa-envelope"></i><span class="float-end">Newsletter</span></a>
  <a href="/admin/setting" class="list-group-item list-group-item-action active mb-1" aria-current="true"><i
      class="fa fa-gear"></i><span class="float-end">Settings</span></a>
</div>