<!-- START ABOUT TESTIMONIAL SECTION -->
<section id="aboutes" class="section-padding bg-gray">
  <div class="auto-container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-12 mx-auto text-center">
        <div class="section-title">
          <h6 class="theme-color">Believe in Satisfaction</h6>
          <h2>What Parents Say</h2>
          <p>We value the voices of our parents. Their experiences and heartfelt words reflect the trust, growth, and confidence built at Genius Public School.</p>
        </div>
      </div>
    </div>
    <!-- end section title -->
    <div class="row">
      {{#each testimonial}}
      <div class="col-lg-6 col-md-6 col-12 mb-lg-0 mb-md-0 mb-4 wow fadeInLeft">
        <div class="testimonial-style-2 mb-3">
          <div class="testimonial-style-2-left">
            <img class="testimonial-thumb rounded-circle" src="{{pic}}" style="height:135px;width:135px" alt="">
            <h6 class="mt-3">{{testimonialNameHelper name 0}}</h6>
            <span style="width:130px;font-size:11px">{{testimonialNameHelper name 1}}</span>
          </div>
          <div class="testimonial-style-2-right rounded">
            <p class="testimonial-message2">{{message}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>
<!-- END ABOUT TESTIMONIAL SECTION -->