{{>header}}
{{>navbar}}

<!-- START SLIDER SECTION -->
<section class="slider-section">
  <div class="home-slides owl-carousel owl-theme">
    <div class="home-single-slide" data-background="assets/img/bg/slide1.jpg">
      <div class="home-single-slide-overlay"></div>
      <div class="home-single-slide-inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="home-single-slide-dec">
                <h4>Small class sizes</h4>
                <h2>Mindful Curriculum</h2>
                <p>we provide three teachers per section<br>to take class.</p>
                <div class="home-single-slide-button mt-4">
                  <a href="/about" class="slide-btn-one mb-lg-0 mb-md-0 mb-2">Learn More <i
                      class="icofont-long-arrow-right"></i></a>
                  <a href="/contactus" class="slide-btn-two">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end single slider -->
    <div class="home-single-slide" data-background="assets/img/bg/slide2.jpg">
      <div class="home-single-slide-overlay"></div>
      <div class="home-single-slide-inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="home-single-slide-dec">
                <h4>Send message to parents</h4>
                <h2>Message Notification</h2>
                <p>notify parents by studied subjects and details<br>on daily basis.</p>
                <div class="home-single-slide-button mt-4">
                  <a href="/about" class="slide-btn-two mb-lg-0 mb-md-0 mb-2">Our Services</a>
                  <a href="/contactus" class="slide-btn-one">Read More <i class="icofont-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end single slider -->
    <div class="home-single-slide" data-background="assets/img/bg/slide3.jpg">
      <div class="home-single-slide-overlay"></div>
      <div class="home-single-slide-inner">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="home-single-slide-dec">
                <h4>New opportunity to learn</h4>
                <h2>Comfort Daycare</h2>
                <p>notify parents by studied subjects and details<br>on daily basis.</p>
                <div class="home-single-slide-button mt-4">
                  <a href="/about" class="slide-btn-one mb-lg-0 mb-md-0 mb-2">Learn More <i
                      class="icofont-long-arrow-right"></i></a>
                  <a href="/contactus" class="slide-btn-two">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end single slider -->
  </div>
</section>
<!-- END SLIDER SECTION  -->

{{!-- {{>events}} --}}
{{>about}}
{{>facts}}
{{>team}}
{{>features}}
{{>testimonialFaq}}
{{>gallery}}
{{>newsletter}}

</main>

{{>footer}}