{{>header}}
{{>navbar}}

{{>breadcrum}}

<div class="section-padding">
    <div class="container my-5">
        <div class="text-center">
            <h3>{{message}}</h3>
        </div>
    </div>
</div>


{{#if show}}
{{>newsletter}}
{{/if}}


{{>footer}}